<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure:</strong>
    <%= flight.departure %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= flight.arrival %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= flight.destination %>
  </p>

  <p>
    <strong>Baggage allowance:</strong>
    <%= flight.baggage_allowance %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= flight.capacity %>
  </p>

</div>
